<div class="container">
  <div class="sub_cont">
    <div class="title">
      WELCOME TO ALLWEB QUIZ
    </div>
    <div class="description">
      Hi there! Welcome to the ALLWEB Quiz! <br>
      I am glad that you are join this quiz.
    </div>


    <div class="button-group">
      <button mat-raised-button color="primary" class="continue">
        <a routerLink="/quiz-rule" mat-button>Get Start</a>
      </button>
      <div class="click">
        <img src="../../../assets/img/cursor-png-ico-icns-free-icon-download--icon100m-20.png" alt="">
      </div>
    </div>
  </div>
  <div class="sub_cont">

    <img src="../../../assets/img/welcome.gif" alt="">
  </div>
</div>
