
<div class="footer">

  <div class="sub part1">
    <img src="../../../assets/img/allweb.png" alt="">
    <div class="description">
      <p> ALLWEB is one of the leading Cambodian IT companies since 2004. We are specialized in offshore software development, and also aim to address emerging needs in Cambodia as its companies are growing fast: our goal is to participate in the emergence of a local high-end software development market.</p>
    </div>
  </div>
  <div class="sub part2" >
    <div class="title">
       Policy
    </div>
    <mat-list role="list" class="list">

      <br>
      <a  href="https://www.allweb.com.kh/" target="_blank">Privacy Policy</a>
      <br>
      <br>
      <a  href="https://www.allweb.com.kh/" target="_blank">Terms and Conditions</a>

    </mat-list>
  </div>
  <div class="sub part2">
    <div class="title">
      Company
    </div>
    <mat-list role="list" class="list">
      <br>
      <a  href="https://www.allweb.com.kh/" target="_blank">About Us</a>
      <br>
      <br>
      <a  href="https://www.allweb.com.kh/" target="_blank">Contact Us</a>

    </mat-list>
  </div>

  <div class="sub part2">
    <div class="title">
      Find Us Here
    </div>
    <div class="description">
      <p>Address: Mao Tse Toung Blvd, Kim Hap Building (6th Floor), Sangkat Toul Svay Prey II</p>
    </div>
    <div class="contact-cont">
      <div> <mat-icon> call</mat-icon> 023221320</div>
      <div> <mat-icon> email</mat-icon> contact@allweb.com.kh</div>
    </div>
    <div class="btn-cont">
      <button mat-fab  aria-label="Example icon button with a home icon">
        <mat-icon>facebook</mat-icon>
      </button>
      <button mat-fab aria-label="Example icon button with a home icon">
        <mat-icon>website</mat-icon>
      </button>
      <button mat-fab aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>

  </div>


</div>
