<div class="container">
  <div class="container-card">
    <img src="../../../assets/img/allweb.png" alt="company logo" class="logo">
    <mat-card-title class="title" >Forgot Password</mat-card-title>

    <mat-card-content class="card-contain">
      <form [formGroup]="form">

        <mat-form-field appearance="outline" >
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex: example@gmail.com"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required
          />
          <mat-error *ngIf="email.errors?.['required']">Email is required.</mat-error>
          <mat-error *ngIf="email.errors?.['email']">Email in invalid</mat-error>

        </mat-form-field>
        <div class="on-spanc" *ngIf="sendding">
          <mat-spinner class="spaner"></mat-spinner>
        </div>
        <div class="success" *ngIf="success_message">
          <span>Success. Please check your email.</span>
        </div>
        <div class="error" *ngIf="error_message">
          <span>Something went wrong !</span>
        </div>
        <div class="button">
          <button class="btn" type="submit" [disabled]="sendding" mat-raised-button color="primary" (click)="submitClick()" >Submit</button>
        </div>
      </form>
    </mat-card-content>
    <div>
      If you are member? <a routerLink="/login">Click here</a>
    </div>
  </div>
</div>
